In [1]:
import numpy as np
import pandas as pd
import mlflow
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR,LinearSVR
from sklearn.tree import DecisionTreeRegressor
from urllib.parse import urlparse

In [2]:
x_train = pd.read_csv('../../data/split/train/x_train.csv',index_col=0)
y_train = pd.read_csv('../../data/split/train/y_train.csv',index_col=0)

x_test = pd.read_csv('../../data/split/test/x_test.csv',index_col=0)
y_test = pd.read_csv('../../data/split/test/y_test.csv',index_col=0)

In [3]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [4]:
models_dic = dict(

    linear = LinearRegression(),
    lasso = Lasso(random_state=5,alpha=0.2),
    ridge = Ridge(random_state=5,alpha=0.5),
   
)

In [5]:
experiment = {
'number':[],
    'metrics' :[]

}

In [6]:
metric = {
    'name': [],
    'train_mse':[],
    'train_mae':[],
    'train_r2' : [],
    'train_rmse':[],
    'test_mse':[],
    'test_mae':[],
    'test_r2' : [],
    'test_rmse':[],
    'metrics':[]
    

}

In [7]:
# run : mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./artifacts --host 0.0.0.0
# server : http://0.0.0.0:5000
remote_server_uri = 'http://0.0.0.0:5000'
mlflow.set_tracking_uri(remote_server_uri)
mlflow.set_experiment('restaurant7')

2022/12/29 04:58:30 INFO mlflow.tracking.fluent: Experiment with name 'restaurant7' does not exist. Creating a new experiment.

In [16]:
for keys in models_dic.keys():
    
    number = 1
    mlflow.sklearn.autolog()
    with mlflow.start_run(run_name=keys):
        
        print(keys,"\n")
        lr = models_dic[keys]
        lr.fit(x_train,y_train)
        
        metric['metrics'].append(lr.get_params())
        y_train_pred = lr.predict(x_train)
        y_test_pred = lr.predict(x_test)
        
        mse_train = mean_squared_error(y_train,y_train_pred)
        mae_train = mean_absolute_error(y_train,y_train_pred)
        
        mse_test = mean_squared_error(y_test,y_test_pred)
        mae_test = mean_absolute_error(y_test,y_test_pred)
        
        r2_train =r2_score(y_train,y_train_pred)
        r2_test = r2_score(y_test,y_test_pred)
        
        rmse_train = np.sqrt(mse_train)
        rmse_test = np.sqrt(mse_test)
        
        
        metric['name'].append(keys)
        metric['train_mse'].append(mse_train)
        metric['test_mse'].append(mse_test)
        metric['train_mae'].append(mae_train)
        metric['test_mse'].append(mae_test)
        metric['train_r2'].append(r2_train)
        metric['test_r2'].append(r2_test)
        metric['train_rmse'].append(rmse_train)
        metric['test_rmse'].append(rmse_test)
        
        mlflow.log_metric('train_mse',mse_train)
        mlflow.log_metric('test_mse',mse_test)
        mlflow.log_metric('train_mae',mae_train)
        mlflow.log_metric('test_mae',mae_test)
        mlflow.log_metric('train_r2',r2_train)
        mlflow.log_metric('test_r2',r2_test)
        mlflow.log_metric('train_rmse',rmse_train)
        mlflow.log_metric('test_rmse',rmse_test)
        
      
       
        tracking_url_type_store = urlparse(
            mlflow.get_artifact_uri()).scheme

        if tracking_url_type_store != "file":
            mlflow.sklearn.log_model(
                lr,
                keys,
                registered_model_name=keys)
        else:
            mlflow.sklearn.log_model(lr, keys)
        
        print(f' train = mse : {mse_train} mae : {mae_train} r2 : {r2_train} \n \
                test = mse : {mse_test} mae : {mae_test} r2 : {r2_test} ')
        print("================================================================")
        
experiment['number'].append(number)
experiment['metrics'].append(metric)

linear

2022/12/29 05:08:27 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/Users/rahul/anacond/anaconda3/lib/python3.9/site-packages/mlflow/models/signature.py:129: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2022/12/29 05:08:34 WARNING mlflow.models.model: Logging model metadata to the tracking server has failed, possibly due older server version. The model artifacts have been logged successfully under ./artifacts/1/b1d46a7cd4b14077b48166a5a7edae95/artifacts. In addition to exporting model artifacts, MLflow clients 1.7.0 and above attempt to record model metadata to the tracking store. If logging to a mlflow server via REST, consider upgrading the server version to MLflow 1.7.0 or above. Set logging level to DEBUG via `logging.getLogger("mlflow").setLevel(logging.DEBUG)` to see the full traceback.
Registered model 'linear' already exists. Creating a new version of this model...
2022/12/29 05:08:44 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: linear, version 2
Created version '2' of model 'linear'.

 train = mse : 0.07804743368387873 mae : 0.20078302960235664 r2 : 0.5916809246863175
                 test = mse : 0.08298500852408149 mae : 0.20473000644178632 r2 : 0.5860407000126586
================================================================
lasso

2022/12/29 05:08:46 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/Users/rahul/anacond/anaconda3/lib/python3.9/site-packages/mlflow/models/signature.py:129: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2022/12/29 05:08:55 WARNING mlflow.models.model: Logging model metadata to the tracking server has failed, possibly due older server version. The model artifacts have been logged successfully under ./artifacts/1/56ae7cab1a444ad8b760606e150d1511/artifacts. In addition to exporting model artifacts, MLflow clients 1.7.0 and above attempt to record model metadata to the tracking store. If logging to a mlflow server via REST, consider upgrading the server version to MLflow 1.7.0 or above. Set logging level to DEBUG via `logging.getLogger("mlflow").setLevel(logging.DEBUG)` to see the full traceback.
Registered model 'lasso' already exists. Creating a new version of this model...
2022/12/29 05:09:03 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: lasso, version 2
Created version '2' of model 'lasso'.

 train = mse : 0.1520564669641754 mae : 0.3015614903363699 r2 : 0.20448946165538995
                 test = mse : 0.160223469676195 mae : 0.3074980893270784 r2 : 0.2007472611218265
================================================================
ridge

2022/12/29 05:09:05 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/Users/rahul/anacond/anaconda3/lib/python3.9/site-packages/mlflow/models/signature.py:129: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2022/12/29 05:09:15 WARNING mlflow.models.model: Logging model metadata to the tracking server has failed, possibly due older server version. The model artifacts have been logged successfully under ./artifacts/1/d97347a22a8a4c79b90cf498c377a7fb/artifacts. In addition to exporting model artifacts, MLflow clients 1.7.0 and above attempt to record model metadata to the tracking store. If logging to a mlflow server via REST, consider upgrading the server version to MLflow 1.7.0 or above. Set logging level to DEBUG via `logging.getLogger("mlflow").setLevel(logging.DEBUG)` to see the full traceback.
Registered model 'ridge' already exists. Creating a new version of this model...
2022/12/29 05:09:26 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: ridge, version 2

 train = mse : 0.07805752606482656 mae : 0.20085450794844528 r2 : 0.5916281245946062
                 test = mse : 0.08283527466074668 mae : 0.20462295143309067 r2 : 0.5867876267932046
================================================================

Created version '2' of model 'ridge'.

In [16]:
#run: mlflow ui

In [10]:
import sqlite3

In [11]:
conn = sqlite3.connect('mlflow.db')

In [12]:
pd.read_sql_query('''select name from sqlite_master
            where type='table';''',conn)

                     name
0             experiments
1         alembic_version
2         experiment_tags
3                    tags
4       registered_models
5                    runs
6   registered_model_tags
7      model_version_tags
8          model_versions
9          latest_metrics
10                metrics
11                 params

In [13]:
pd.read_sql_query('''
select * from params

''',conn)

              key       value                          run_uuid
0          copy_X        True  aa733b4b3bdf4882b9f4a557b658811c
1   fit_intercept        True  aa733b4b3bdf4882b9f4a557b658811c
2          n_jobs        None  aa733b4b3bdf4882b9f4a557b658811c
3       normalize  deprecated  aa733b4b3bdf4882b9f4a557b658811c
4        positive       False  aa733b4b3bdf4882b9f4a557b658811c
5           alpha         0.2  147efad8267849fd87e82f0163be33e8
6          copy_X        True  147efad8267849fd87e82f0163be33e8
7   fit_intercept        True  147efad8267849fd87e82f0163be33e8
8        max_iter        1000  147efad8267849fd87e82f0163be33e8
9       normalize  deprecated  147efad8267849fd87e82f0163be33e8
10       positive       False  147efad8267849fd87e82f0163be33e8
11     precompute       False  147efad8267849fd87e82f0163be33e8
12   random_state           5  147efad8267849fd87e82f0163be33e8
13      selection      cyclic  147efad8267849fd87e82f0163be33e8
14            tol      0.0001  147efad8267849fd87e82f0163be33e8
15     warm_start       False  147efad8267849fd87e82f0163be33e8
16          alpha         0.5  7d2a39882f524da494a0de0442291267
17         copy_X        True  7d2a39882f524da494a0de0442291267
18  fit_intercept        True  7d2a39882f524da494a0de0442291267
19       max_iter        None  7d2a39882f524da494a0de0442291267
20      normalize  deprecated  7d2a39882f524da494a0de0442291267
21       positive       False  7d2a39882f524da494a0de0442291267
22   random_state           5  7d2a39882f524da494a0de0442291267
23         solver        auto  7d2a39882f524da494a0de0442291267
24            tol       0.001  7d2a39882f524da494a0de0442291267

In [14]:
pd.read_sql_query('''
select * from experiments

''',conn)

,experiment_id,name,artifact_location,lifecycle_stage,creation_time,last_update_time
0,0,Default,./artifacts/0,active,1672269993280,1672269993280
1,1,restaurant7,./artifacts/1,active,1672270110502,1672270110502

In [15]:
conn.close()

In [18]:
y_pred = boost.predict(x_test)
r2_score(y_test,y_pred)

0.8727651513495669

In [19]:
np.sqrt(mean_squared_error(y_test,y_pred))

0.1597070318104302

In [20]:
y_test.describe()

              rate
count  8253.000000
mean      3.695892
std       0.447762
min       1.800000
25%       3.400000
50%       3.700000
75%       4.000000
max       4.900000